/*login css*/
	body, p {
        font-family: 'Montserrat',sans-serif;
        font-size: 15px;

    }
    h1, h2, h3, h4, h5, h6{
    	font-family: 'Merriweather',serif;
    }
    .mt-25
    {
    	margin-top: 25px;
    }
	.login_section{
		box-shadow: 0px 1px 5px 1px #a29797;
		margin: 10px 0 30px 0;
        border-radius: 10px;
        width: 100%;
	}
	.logo{
		height: 60px;
		margin: 20px 0;
	}
	.form_heading{
		margin: 10px 0;
	}
	.form_heading h4
	{
	    position: relative;
	    z-index: 1;
	    border-left: 5px solid #f46c2c;
	    margin: 0 0 15px;
	    padding: 12px 0 8px 20px;
	    color: #f46c2c;
	    font-size: 25px;
	    font-weight: 700;
	}
	.form_section{
		padding:20px;
	}
	.form_section .form-control
	{
		border-radius: 25px;
		padding: .375rem 1.2rem;
		font-size: 15px;
	}
	.btn-success
	{
		background-color: #48b576;
	}
	.btn_submit{
		    border-radius: 25px;
	}
	.location_btn{
		border-radius: 25px;
	}

